/* 
    Created on : 2014-8-1, 17:57:17
    Author     : skylzl
*/

.fa-thumbs-up{margin-right: 5px;top: 2px;width: 16px;height: 16px;display: inline-block; background: url(thumb_up.png) no-repeat left center; }