[submodule "CommentToMail"]
	path = CommentToMail
	url = https://github.com/byends/CommentToMail
[submodule "WeCahtHelper"]
	path = WeCahtHelper
	url = https://github.com/binjoo/WeChatHelper
[submodule "Access"]
	path = Access
	url = https://github.com/kokororin/typecho-plugin-Access
[submodule "Adminer"]
	path = Adminer
	url = https://github.com/kokororin/typecho-plugin-adminer
[submodule "HTMLCompress"]
	path = HTMLCompress
	url = https://github.com/kokororin/typecho-plugin-HTMLCompress
[submodule "Parsedown"]
	path = Parsedown
	url = https://github.com/kokororin/typecho-plugin-Parsedown
[submodule "BlockIP"]
	path = BlockIP
	url = https://github.com/kokororin/typecho-plugin-BlockIP
[submodule "AutoBaiduSubmit"]
	path = AutoBaiduSubmit
	url = https://github.com/jinfeijie/AutoBaiduSubmit
[submodule "AMP"]
	path = AMP
	url = https://github.com/holmesian/Typecho-AMP.git
[submodule "ArticleTemplate"]
	path = ArticleTemplate
	url = https://github.com/benzBrake/ArticleTemplate.git
[submodule "Restful"]
	path = Restful
	url = https://github.com/moefront/typecho-plugin-Restful
[submodule "Comment2Wechat"]
	path = Comment2Wechat
	url = https://github.com/YianAndCode/Comment2Wechat.git
[submodule "UpdateAssistant"]
	path = UpdateAssistant
	url = https://github.com/mrgeneralgoo/typecho-update-assistant.git
[submodule "MarkdownParse"]
	path = MarkdownParse
	url = https://github.com/mrgeneralgoo/typecho-markdown.git
[submodule "ChangyanCallback"]
	path = ChangyanCallback
	url = https://github.com/mrgeneralgoo/typecho-changyan-callback.git
[submodule "CosForTypecho"]
	path = CosForTypecho
	url = https://github.com/CharmeRyl/typecho-plugin-cosfile.git
[submodule "OssForTypecho"]
	path = OssForTypecho
	url = https://github.com/CharmeRyl/typecho-plugin-ossfile.git
