.idea
.DS_Store
composer.phar
composer.lock
/templates/
!/templates/default.html
!/templates/template1.html
!/templates/template2.html
!/templates/template3.html
!/templates/template4.html
!/templates/template5.html
