[submodule "CommentToMail"]
	path = CommentToMail
	url = https://github.com/byends/CommentToMail
[submodule "WeCahtHelper"]
	path = WeCahtHelper
	url = https://github.com/binjoo/WeChatHelper
[submodule "Access"]
	path = Access
	url = https://github.com/kokororin/typecho-plugin-Access
[submodule "Adminer"]
	path = Adminer
	url = https://github.com/kokororin/typecho-plugin-adminer
[submodule "HTMLCompress"]
	path = HTMLCompress
	url = https://github.com/kokororin/typecho-plugin-HTMLCompress
[submodule "Parsedown"]
	path = HTMLCompress
	url = https://github.com/kokororin/typecho-plugin-Parsedown
[submodule "BlockIP"]
	path = BlockIP
	url = https://github.com/kokororin/typecho-plugin-BlockIP
