@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ov9ajc');
  src:  url('fonts/icomoon.eot?ov9ajc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ov9ajc') format('truetype'),
    url('fonts/icomoon.woff?ov9ajc') format('woff'),
    url('fonts/icomoon.svg?ov9ajc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\f001";
}
.icon-zuo:before {
  content: "\f104";
}
.icon-you:before {
  content: "\f105";
}
.icon-bofang:before {
  content: "\f1d8";
}
#bgmplayer {
    position: fixed;
    top: 0;
    z-index: 999;
    right: 0;
    background: #00BDFF;
    color: white;
    transition: transform .5s ease;
}
.bgmplayer{
transform: translateX(218px);
}
.bgmon{
transform: translateX(0px);
}
span.bgmbuttom{
    font-size: 12px;
    float: left;
    padding: 25.5px 5px 25.5px 5px;
}
#bgmpanel {
    width: 240px;
    height: 54px;
    padding: 5px 0;
}
#jindu {width:0%;
    height: 3px;
    background-color: #000;
}
.bgmfm {
    float: left;    margin: 0 10px 0 5px;
}
.bgmfm img {
    width: 55px;
    height: 55px;
    border-radius: 50%;    border: 2px solid #ccc;
}

.bgmtitle {
    font-size: 15px;
    padding: 5px 0;white-space: nowrap;    overflow: hidden;    margin-right: 5px;
}
.bgmtime {
    float: left;
}
.bgmtime span {
    font-size: 15px;
    margin: 0 5px 0 0;
}
.bgmbtn {
    float: right;
}
.bgmbtn span {
    font-size: 15px;
    margin: 0 5px 0 0;
    padding: 5px 8px;
}
.bgmbtn span:hover{
    background-color: rgba(228, 228, 228, 0.54);
}
@-webkit-keyframes rotation{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}
.bgmfm .Rotation{    border: 2px solid #FFF;
    box-shadow: 0 0 5px #ccc;
-webkit-transform: rotate(360deg);
animation: rotation 9.8s linear infinite;
-moz-animation: rotation 9.8s linear infinite;
-webkit-animation: rotation 9.8s linear infinite;
-o-animation: rotation 9.8s linear infinite;
}
