#ukagaka { position: fixed; left: 80%; font-size: 12px; top: 60%; width: 160px; height: 160px; z-index: 9999; }
.ukagaka-character { position: relative; right: 0; top: 0; cursor: move; }
.ukagaka-chatlog { position: absolute; top: 0px; right: 90px; min-height: 20px; width: 200px; text-align: left; border: 1px solid #e87a73; border-radius: 3px; background: rgba(255, 246, 246, .85); }
.ukagaka-chatlog-source { display: none; }
.ukagaka-chatlog-output { padding: 10px; line-height: 23px; text-indent: 15px; box-sizing: border-box; -webkit-box-sizing: border-box; }
.ukagaka-btn { padding: 10px; text-align: right; margin-top: -10px; }
.ukagaka-btn-menu { color: #003BD5; cursor: pointer; }
.ukagaka-menu { display: none; padding: 10px; margin-top: -20px; padding-bottom: 0; }
.ukagaka-menu:after, .ukagaka-chatlog-output:after { content: ''; clear: both; display: table; }
.ukagaka-menu a, .ukagaka-food { text-indent: 0; width: 50%; float: left; cursor: pointer; display: block; text-align: center; line-height: 20px; color: #222; }

#ukagaka-talk { width: 240px; height: 30px; position: absolute; bottom: -60px; right: 0; border: 1px solid #DBDBDB; border-radius: 3px; background: #fff;  overflow: hidden; display: none; }
.ukagaka-talk { padding: 2px!important; padding-left: 5px!important; border: 0!important; height: 30px; width: 180px!important; }
.ukagaka-talk:active, .ukagaka-talk:focus { outline: none; }
.ukagaka-submit, .ukagaka-close { background: transparent; border: 0; outline: none; padding: 0; }
.ukagaka-submit { padding: 0 8px; }
.ukagaka-close { position: absolute; right: 0; top: 0; font-size: 20px; margin-top: 3px; margin-right: 6px; }
#ukagaka-shokan { display: none; position: fixed; top: 0; right: 1%; width: 60px; line-height: 16px; cursor: pointer; border: 1px solid #E87A73; border-top: 0; color: #E87A73;border-radius: 3px; padding: 5px; font-size: 12px; margin-top: -1px; text-align: center; background: #FFF; }