.Version-row:hover .Version-row-time
{
    display: none;
}

.Version-row:hover .Version-actions
{
    display: inline-flex;
}

.Version-btn {
    padding: 0px 8px;
    margin-right: 5px;
}

.Version-table-wrap-narrow {
    padding: 5px;
}

.Version-view {
    /* background-color: #ffffff2e; */
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.Version-view-container {
    /* background-color: cadetblue; */
    margin-top: 30px;
    height: 70%;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px 2px 10px #737373;
}

.Version-view-container-text {
    display: block;
    height: 100%;
    outline: none;
    border: none;
}

.Version-row {
    cursor: pointer;
}

.Version-highlight {
    color: #26cebe;
}

.Version-row-label input {
    color: inherit !important;
}
