.wmd-button#wmd-music-button {
  font-size: 20px;
  text-align: center;
  color: #AAA;
  width: 20px;
  float: left;
}
.wmd-prompt-background {
  position: absolute;
  top: 0px;
  z-index: 1000;
  opacity: 0.5;
  left: 0px
}
input#xiami_search {
  width: 270px;
  height: 28px;
  float: left
}
#searchPanel .wmd-prompt-dialog{
	position:absolute;
}
#searchPanel form {
  padding: 6px
}
#DoSearch {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(center top, #ededed 5 % , #dfdfdf 100 % );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#ededed', endColorstr = '#dfdfdf');
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid#dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: arial;
  font-size: 15px;
  font-weight: normal;
  padding: 10px 15px;
  margin-left: 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0px#ffffff
}
#DoSearch:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background: -moz-linear-gradient(center top, #dfdfdf 5 % , #ededed 100 % );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr = '#dfdfdf', endColorstr = '#ededed');
  background-color: #dfdfdf;
  cursor: pointer
}
#DoSearch:active {
  position: relative;
  top: 1px
}
#searchPanel .close {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  display: block;
  padding: 6px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 10px;
  font-size: 20px
}
#searchPanel #xiami_list a {
  display: block;
  padding: 6px;
  border-bottom: 1px solid#ddd
}
ul#tab {
  margin: 0px;
  padding: 0px
}
#tab li: hover {
  cursor: pointer;
  background: #467b96;
  color: #FFF
}
#tab .multi {
	color:#DDD;
}
#tab .multi.checked {
	color:#000;
	font-weight:bold;
}
.select {
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#playlist {
	padding-left:25px;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#playlist li {
	cursor:move;
	box-sizing:border-box;
	line-height:20px;
	list-style-type:square;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#playlist .sortable {
	border:1px dashed #AAA;
	background:#DDD;
}
li.hover {
	position:absolute;
	list-style-type:none;
}