#bgmplayer {
    position: fixed;
    top: 0;
    z-index: 999;
    right: 0;
    background: #00BDFF;
    color: white;
    transition: transform .5s ease;
}
.bgmplayer{
transform: translateX(218px);
}
.bgmon{
transform: translateX(0px);
}
span.bgmbuttom{
    font-size: 12px;
    float: left;
    padding: 25.5px 5px 25.5px 5px;
}
#bgmpanel {
    width: 240px;
    height: 54px;
    padding: 5px 0;
}
#jindu {width:0%;
    height: 3px;
    background-color: #000;
}
.bgmfm {
    float: left;    margin: 0 10px 0 5px;
}
.bgmfm img {
    width: 55px;
    height: 55px;
    border-radius: 50%;    border: 2px solid #ccc;
}

.bgmtitle {
    font-size: 15px;
    padding: 5px 0;white-space: nowrap;    overflow: hidden;    margin-right: 5px;
}
.bgmtime {
    float: left;
}
.bgmtime span {
    font-size: 15px;
    margin: 0 5px 0 0;
}
.bgmbtn {
    float: right;
}
.bgmbtn span {
    font-size: 15px;
    margin: 0 5px 0 0;
    padding: 5px 8px;
}
.bgmbtn span:hover{
    background-color: rgba(228, 228, 228, 0.54);
}
@-webkit-keyframes rotation{
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}
}
.bgmfm .Rotation{    border: 2px solid #FFF;
    box-shadow: 0 0 5px #ccc;
-webkit-transform: rotate(360deg);
animation: rotation 9.8s linear infinite;
-moz-animation: rotation 9.8s linear infinite;
-webkit-animation: rotation 9.8s linear infinite;
-o-animation: rotation 9.8s linear infinite;
}
