@font-face {
  font-family: 'Remix';
  src:url('../fonts/remix.eot?oyegdh');
  src:url('../fonts/remix.eot?#iefixoyegdh') format('embedded-opentype'),
    url('../fonts/remix.woff?oyegdh') format('woff'),
    url('../fonts/remix.ttf?oyegdh') format('truetype'),
    url('../fonts/remix.svg?oyegdh#minty') format('svg');
  font-weight: normal;
  font-style: normal;
}

.remix,
.remix * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.remix {
  margin: 1em auto;
  font: 14px/1.5 "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei UI","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3",sans-serif;
}

.remix-controls {
  position: relative;
  padding: .5em .715em;
  background-color: #6699cc;
  color: #fff;
}

.remix-detail {
  height: 1.5em;
  padding-right: 7em;
  padding-left: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.remix-duration {
  position: absolute;
  top: .8em;
  right: 4.285em;
  line-height: 1;
  text-align: right;
}

.remix-progress {
  position: relative;
  height: .5em;
  margin-top: .5em;
  margin-bottom: .15em;
  background-color: #fff;
  cursor: pointer;
}
.remix-progress-loaded,
.remix-progress-played {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}
.remix-progress-loaded {
  background-color: #eee;
}
.remix-progress-played {
  background-color: #336699;
}

[class^="remix-button-"], [class*=" remix-button-"] {
  position: absolute;
  top: .8em;
  cursor: pointer;
  font-family: 'Remix';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.remix-button-play {
  left: .715em;
}
.remix-button-volume {
  right: 2.5em;
}
.remix-button-menu {
  right: .715em;
}
.remix-pause,
.remix-mute {
  display: none;
}
.remix-button-play.playing:before {
  content: "\e602";
}
.remix-button-play:before,
.remix-button-play.pause:before {
  content: "\e601";
}
.remix-button-volume.volume:before,
.remix-button-volume:before {
  content: "\e603";
}
.remix-button-volume.mute:before {
  content: "\e604";
}
.remix-button-menu:before {
  content: "\e600";
}

ul.remix-playlist {
  list-style: none;
  max-height: 0;
  overflow-y: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  background-color: #f9f9f9;
  -webkit-transition: max-height .3s ease;
  -moz-transition: max-height .3s ease;
  transition: max-height .3s ease;
}
.remix-playlist.open {
  min-height: 1em;
  max-height: 22.15em;
}
.remix-playlist.close {
  max-height: 0;
}
.remix-playlist li {
  padding: .357em .715em;
  background-color: #f9f9f9;
  cursor: pointer;
}
.remix-playlist li.selected,
.remix-playlist li:hover {
  background-color: #eee;
}

.remix-playlist::-webkit-scrollbar {
  width: .5em;
}
.remix-playlist::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}
.remix-playlist::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #eee;
}
.remix-playlist::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}
