/**
 * @Description: 网站公告插件
 * @Author: Skylzl
 * @Author URL: http://www.phoneshuo.com
 */

#div-ann-bm li{margin:0; padding:0; list-style-type:none}

.com-hd{
	margin: 20px 0 15px;
}

.com-hd b{
	font-size:16px;
	color:#333;
	font-family:'Microsoft Yahei';
}

.tb-set{
	border-collapse: collapse;
}

.tb-set tr td{
	padding: 10px 5px;
	border: 1px solid #e0e0e0;
}

.tb-set tr td input, .tb-set tr td img{
	margin:0 auto;
	vertical-align: middle;
}

.tb-set tr td b{
	color: #666;
}

.tb-set tr td .sel{
	height:17px;
	border:1px solid #ccc;
	border-radius:5px;
	outline: none;
	color:#333;
	padding:3px 1px;
}

.tb-set tr td .sel select{
	border:none;
	outline:none;
	width:120px;
}

.tb-set tr td .txt{
	width:240px;
	height:18px;
	border:1px solid #ccc;
	line-height:23px;
	border-radius:5px;
	outline: none;
	color:#333;
	padding:3px 0 2px 5px;
}

.tb-set tr td .txt-lar{
	width:450px;
	height:100px;
	border:1px solid #ccc;
	line-height:15px;
}

.tb-set tr td .txt-sho{
	width:150px;
}

.tb-set tr td .txt-min{
	width:60px;
}

/*前台*/
#div-mask{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	background:#000;
	opacity:0.2;
	filter:alpha(opacity=20);
}

#div-pop-box{
	width:0;
	height:0;
	position:absolute;
	z-index:99999;
	padding:20px 20px 10px;
	border:6px solid #767576;
	background:#fff;
	opacity:0;
	filter:alpha(opacity=0);
}

#div-pop-box.min{
	position:fixed;
	cursor: pointer;
}

#div-pop-box h3{
	width:314px;
	margin:0;
	padding:5px;
	font-size:16px;
	position:absolute;
	top:5px;
	left:8px;
	border-bottom:1px solid #ccc;
}

#div-pop-box b{
	float:left;
}

#div-pop-box .a-close{
	float:right;
	cursor: pointer;
}

.div-announcement-main{
	width:300px;
	height:140px;
	overflow:hidden;
	font-weight:normal;
	line-height:180%;
	position:absolute;
	top:40px;
	left:20px;
}

#aAnnMin{
	width: 35px;
	height: 64px;
	display:block;
	position: fixed;
	top: 0;
	left: -35px;
	_position:absolute;
	z-index:9999;
	background: url(../img/annMin.gif) no-repeat 0 0;
	cursor: pointer;
	opacity:0;
	filter:alpha(opacity=0);
}

#aAnnMin:hover{
	background-position:0 -70px;
}

#div-ann-bm{
	width:100%;
	height:25px;
	overflow:hidden;
	position:fixed;
	left:0;
	bottom:0;
	background:#000;
	opacity:0.6;
	filter:alpha(opacity=60);
	_position:absolute;
	_left:0;
	_bottom:0;
	z-index:9999;
}

#div-ann-bm .div-ann-main{
	width:100%;
	height:25px;
	overflow:hidden;
	position: absolute;
	top:0;
	left:0;
	z-index:20;
	background:url("../img/bulletin.gif") no-repeat 20px center;
}

#div-ann-bm .div-ann-main ul{
	margin-top:0px;
	margin-left:50px;
}

#div-ann-bm .div-ann-main ul li{
	height:25px;
	line-height:25px;
	color:#fff;
}

#div-ann-bm .div-ann-main .a-close{
	position:absolute;
	top:4px;
	right:8px;
	cursor: pointer;
	color:#fff;
}
