<style type="text/css">.qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {display: none !important;}.emailz{background-color:white;border-top:2px solid #12ADDB;box-shadow:0 1px 3px #AAAAAA;line-height:180%;padding:0 15px 12px;width:500px;margin:35px auto;color:#555555;font-family:'Century Gothic','Trebuchet MS','Hiragino Sans GB',微软雅黑,'Microsoft Yahei',Tahoma,Helvetica,Arial,'SimSun',sans-serif;font-size:14px;}@media(max-width:767px){.emailz{width: 88%;}}</style>
<div class="emailz">  
<h2 style="border-bottom:1px solid #DDD;font-size:14px;font-weight:normal;padding:13px 0 10px 8px;"><span style="color: #12ADDB;font-weight: bold;">&gt; </span>在<a style="text-decoration:none;color: #12ADDB;" href="{permalink}" target="_blank" rel="noopener">[{title}]</a>文章中待审核评论如下</h2>
        <div style="padding:0 12px 0 12px;margin-top:18px">  
            <p>时间：<span style="border-bottom:1px dashed #ccc;" t="5" times=" 20:42">{time}</p>  
            <p style="background-color: #f5f5f5;border: 0px solid #DDD;padding: 10px 15px;margin:18px 0">{commentText}</p>  
            <p>评论者:<span style="color: #12ADDB;">{author}</span></p>  
            <p style="background-color: #f5f5f5;border: 0px solid #DDD;padding: 10px 15px;margin:18px 0"> <a href="{mail}" target="_blank" rel="noopener">{mail}</a></p> 
            <p>您可以点击 <a style="text-decoration:none; color:#12addb" href="{permalink}" target="_blank" rel="noopener">查看回复的完整內容 </a>，欢迎再次光临 <a style="text-decoration:none; color:#12addb" href="{siteUrl}" target="_blank" rel="noopener">{siteTitle}</a>。</p>  
        </div>  
</div>