<table style="width:99.8%;height:99.8%">
    <tbody>
    <tr>
        <td>
            <div style="border-radius:10px;font-size:13px;color:#555;width:666px;font-family:'Century Gothic','Trebuchet MS','Hiragino Sans GB','微软雅黑','Microsoft Yahei',Tahoma,Helvetica,Arial,SimSun,sans-serif;margin:50px auto;border:1px solid #eee;max-width:100%;background:#fff repeating-linear-gradient(-45deg,#fff,#fff 1.125rem,transparent 1.125rem,transparent 2.25rem);box-shadow:0 1px 5px rgba(0,0,0,.15)">
                <div style="margin:40px auto;width:90%">
                    <p>在《<a href="{permalink}" style="text-decoration:none;color:#12addb" target="_blank">{title}</a>》文章中待审核评论如下:</p>
                    <p style="background:#fafafa repeating-linear-gradient(-45deg,#fff,#fff 1.125rem,transparent 1.125rem,transparent 2.25rem);box-shadow:0 2px 5px rgba(0,0,0,.15);margin:20px 0;padding:15px;border-radius:5px;font-size:14px;color:#555">{commentText}</p>
                    <p>请注意：此邮件由 <a href="{siteUrl}" style="color:#12addb" target="_blank">{siteTitle}</a> 自动发送，请勿直接回复。</p>
                    <p>若此邮件不是您请求的，请忽略并删除！</p>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>